
<ul class="getting-started">
    <li class="clearfix">
        <div class="step">
            <div class="sprite one"></div>
            <h3>Login using Uber</h3>
            <p>
                You first need to login using the Uber authentication. <a href="/auth/uber?format=html">Login</a> to get started
            </p>
        </div>
    </li>
    <li class="clearfix">
        <div class="step">
            <div class="sprite two"></div>
            <h3>
                Explore the APIs
            </h3>
            <p>
                Once logged in, you can explore the Uber APIs for your account.
            </p>
        </div>
    </li>
</ul>

